.wrapper {
    width: 100%;
}
.header{
    margin: 7px;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    width: 860px;
    margin: auto;
}
.header-summary{
    display: flex;
    gap: 40px;
    align-items: center;
}
.main{
    text-align: center;
}
.section-title{
    font-size: 32px;
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 8px;
    padding: 70px;
}
.about-text{
    font-size: 16px;
    
}
.about-content{
    display: flex;
    justify-content: center;
    gap : 32px;
}
.name{
    display: flex;
}
.bicycle-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
